@tailwind base;
@tailwind components;
@tailwind utilities;

.Main{
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* Nav */
/* Nav */
/* Nav */




/* About */
/* About */
/* About */


/* FAQ */
/* FAQ */
/* FAQ */


/* FOOTER */
/* FOOTER */
/* FOOTER */