@tailwind base;
@tailwind components;
@tailwind utilities;

.Main{
  display: flex;
  flex-direction: column;
  height: 100%;
}

*{
  color: #44375f;
  font-weight: 500;
}
.App{
  background-color: #f9f9f9;
}

/* Nav */
/* Nav */
/* Nav */

.App .NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 9.5vh;
  background-color: #d3d3d3;
  padding: 20px 50px;
  align-items: center;
}
.App .NavBar .NavLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App .NavBar .NavMiddle{
  padding-left: 7vw;
  display: flex;
  flex-direction: row;
  gap: 3.3vw;
}
.App .NavBar .NavRight{
  display: flex;
  flex-direction: row;
  gap: 3vw;
}
.App .NavBar .NavRight .ColorButton{
  background-color: #f48b29;
  padding: 10px 20px;
  border-radius: 1vw;
  text-align: center;
  color: #fdf3e9;
  display: table-cell;
  vertical-align: middle;
}
/* Home */
/* Home */
/* Home */
.Column{
  display: flex;
  flex-direction: column;

}
.Home{
  height: 80vh;
  align-items: center;
  display: flex;
  flex-direction: row;
 justify-content: space-between;

}
.HomeLeft span:nth-child(1){
  font-size: 3vw;
  font-weight: 600;
}
.HomeLeft span:nth-child(2){
  font-size: 3.3vw;
  font-weight: 900;
}
.HomeLeft span:nth-child(3){
  margin-top: 1vw;
  font-size: 0.8vw;
  font-weight: 500;
}
.Home Button{
  margin-top: 2vw;
  background-color: #130035;
  width: 9vw;
  height: 3vw;
  color: #edebf0;
  display: table-cell;
  vertical-align: middle;
  border-radius: 2vw;
}


.HomeRight span:nth-child(1){
  font-size: 3vw;
  font-weight: 600;
}
.HomeRight span:nth-child(2){
  font-size: 3.3vw;
  font-weight: 1000;
}
.HomeRight span:nth-child(3){
  margin-top: 1vw;
  font-size: 0.8vw;
  font-weight: 500;
}
.HomeMiddle{
  font-size: 5vw;
  text-align: center;
}

.Home .HomeRight, .Home .HomeLeft{
  padding: 3vw 4.3vw;
  max-width: 30vw;
  min-width: 30vw;
}

/* SignUp */
/* SignUp */
/* SignUp */
.box {
  position: fixed;
  z-index: -1;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.myDiv {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 90vh;
  background-color: #d1cfc8;
  position: absolute;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.tt {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #babbba;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
}

.divClose {
  margin-left: auto;
  margin-right: 10px;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divClose:hover {
  background-color: #c7c9cf;
}

.material-symbols-outlined {
  color: #000;
}

/* FFFFFFFFFFFFFFFFFFFFFFFFFOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */
/* FFFFFFFFFFFFFFFFFFFFFFFFFOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */
/* FFFFFFFFFFFFFFFFFFFFFFFFFOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */
/* FFFFFFFFFFFFFFFFFFFFFFFFFOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-grow: 1;
  padding-top: 3vw;
  padding-bottom: 0vw;
  gap: 10px;
}

.forms .heading {
  width: 100%;
  padding-left: 67px;
}
.forms .heading h3 {
  color: var(--tertiary-color);
  /* color: #fff; */
  font-size: 70px;
  font-weight: 800;
}
.forms input {
  color: var(--tertiary-color);
  width: 570px;
  height: 46px;
  font-size: 26px;
  font-weight: 500;
  border-radius: 4px;
  border-radius: 10px;
}

.confirm .submit {
  background-color: #9c28b1;
  border-radius: 14px;
  text-align: center;
  width: 300px;
  height: 60px;
  color: white;
  font-size: 20px;
}

.enroll input {
  background-color: #f1e5f2;
}

.password input {
  background-color: #f1e5f2;
}

#form1 h4 {
  color: var(--tertiary-color);
  font-weight: 800;
  font-size: 17px;
}
.myDiv .liner h5 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--tertiary-color);
}
.myDiv .liner .redirect {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--tertiary-color);
}
.myDiv .liner .redirect u {
  color: var(--tertiary-color);
}
.spacer {
  width: 5px;
  height: 5px;
}
.myDiv .liner {
  padding-top: 25px;
  margin-bottom: 275px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

form div h3 {
  font-size: 20px;
  color: #000;
}
/* About */
/* About */
/* About */
.About{
  background-color: #13544e;
  padding: 3vw 4.3vw;
  color: #edebf0;
  display: flex;
  flex-direction: row;
   gap: 2vw;
}
.About .Desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60vw;
}
.About .Desc span{
  color: #edebf0;
}
.About .Desc span:nth-child(1){
  font-size: 1.6vw;
}
.About .Desc span:nth-child(2){
  margin-top: 2vw;
  font-size: 3.4vw;
  line-height: 100%;
}
.About .Desc span:nth-child(3){
  margin-top: 0.4vw;
  font-size: 3.4vw;
  color: #91e6b3;
  line-height: 100%;
}
.About .Desc span:nth-child(4){
  margin-top: 0.4vw;
  font-size: 3.4vw;
  color: #91e6b3;
  line-height: 100%;
}
.About .Desc span:nth-child(5){
  margin-top: 2vw;
  font-size: 1.3vw;
}


.About .BigImg{
  width: 30vw;
  height: 30vw;
  background-color: #13544e;
  border-radius: 3vw;
}
/* FAQ */
/* FAQ */
/* FAQ */


/* FOOTER */
/* FOOTER */
/* FOOTER */